*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    /* background: linear-gradient(#b8d0eb,#b298dc) ; */
    background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
    );
}

.title{
    font-weight: 200;
}

.btn-primary {
    background-color: #b592db;
    color: white;
    border: 1px solid white;
}

.btn-primary:hover {
    border: #9b61df 1px solid;
    background-color: #9b61df;
}

.signup-btn{
    border: none;
    background-color: transparent;
    color: #beaad4;
}

.sign-up {
    margin-top: 20px;
}


